<h1><%=@parent.name%>'s Children</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= child.parent_id %></td>
        <td><%= link_to 'Show', parent_child_path(@parent, child) %></td>
        <td><%= link_to 'Edit', edit_parent_child_path(@parent, child) %></td>
        <td><%= link_to 'Destroy', [@parent, child], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Child', new_parent_child_path(@parent) %>
